<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="">
        <meta name="description" content="">

        <title>VetZ</title>
        
        <!-- Loading Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Loading código CSS -->
        <link href="css/style.css" rel="stylesheet" media="screen and (color)">

        <!-- Awsome Fonts -->
        <link href="css/all.min.css" rel="stylesheet">

        <!-- Favicon -->
        <link href="images/logoPNG.png" rel="shortcut icon">
    </head>

    <body>
        <!--Begin Header-->
        <header class="header">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <nav class="navbar navbar-expand-lg">
        
                        <a href="index.html" rel="home">
                            <img class="logomenu" src="images/Logo VETZ.svg" alt="VET Z" title="VetZ">
                        </a>
                        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon">
                                <i class="fas fa-bars"></i>
                            </span>
                        </button>
        
                        <div class="navbar-collapse collapse" id="navbarCollapse">
                            <ul class="navbar-nav ml-auto 1  left-menu">
                                <li><a href="./index.html">HOME PAGE</a></li>
                                <li><a href="./sobreNOS.html">SOBRE NÓS</a></li>
                                <li><a href="login.php">CURIOSIDADES</a></li>
                                <li><a href="login.php">RECOMENDAÇÕES</a></li>
                                <li><a href="login.php">VACINAÇÃO</a></li>
                                <li><a class="btn btn-menu" href="cadastro.php" role="button"><img class="imgperfil" src="images/perfil.svg"> CADASTRO</a></li>
                            </ul> 
                            
                        </div>
                    </nav>
                </div> 
            </nav>
        </header>
        <!--End Header-->


        <!-- --------------- CONTEÚDO DA PÁGINA ----------------->

        <!-- Begin Section 01 -->
        <section class="section01" id="sec01">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="sec01titleh1">A verdadeira cura começa no respeito pela vida.</h1>
                            <div class="card1-1">
                                <a href="https://lista.mercadolivre.com.br/tapete-higienico-c%C3%A3o-e-gato?sb=all_mercadolibre#D[A:tapete%20higienico%20c%C3%A3o%20e%20gato]" target="_blank">
                                <img src="images/tapeteCao.jpg" class="card-img-top1" alt="...">
                                <div class="card-body">
                                    <p class="sec01phinte">TAPETE</p>
                                </div>
                            </a>
                        </div>
        
                        <div class="card1-2">
                            <a href="https://lista.mercadolivre.com.br/ra%C3%A7%C3%A3o-c%C3%A3o-e-gato#D[A:ra%C3%A7%C3%A3o%20c%C3%A3o%20e%20gato]" target="_blank">
                                <img src="images/racaoCao.jpg" class="card-img-top1" alt="...">
                                <div class="card-body">
                                    <p class="sec01phinte">RAÇÃO</p>
                                </div>
                            </a>
                        </div>
        
                        <div class="card1-3">
                            <a href="https://lista.mercadolivre.com.br/brinquedos-para-c%C3%A3o-e-gato?sb=all_mercadolibre#D[A:brinquedos%20para%20c%C3%A3o%20e%20gato]" target="_blank">
                                <img src="images/brinquedoCao.jpg" class="card-img-top1" alt="...">
                                <div class="card-body">
                                    <p class="sec01phinte">BRINQUEDOS</p>
                                </div>
                            </a>
                        </div>
        
                        <div class="card1-4">
                            <a href="https://www.mercadolivre.com.br/colcho-cachorro-grande-pet-impermeavel-100x70-cor-marinho/p/MLB36933404?pdp_filters=item_id:MLB5233031478#is_advertising=true&searchVariation=MLB36933404&backend_model=search-backend&position=3&search_layout=grid&type=pad&tracking_id=b2a646ec-4536-40e6-a3ab-8e41a908d95b&is_advertising=true&ad_domain=VQCATCORE_LST&ad_position=3&ad_click_id=NjI5OGUzZWQtYjg0Ni00ODYzLWI1OTEtZTgyOGZmMDk0Mzg1" target="_blank">
                                <img src="images/camaCao.jpg" class="card-img-top1" alt="...">
                                <div class="card-body">
                                    <p class="sec01phinte">CAMA</p>
                                </div>
                            </a>
                        </div>
                        
                        </div>     
                    </div>
                </section>

        <!-- End Section 01 --> 

        <!-- Begin footer-->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p class="footerp1">
                            Todos os direitos reservados <span id="footer-year"></span> © - VetZ </p>
                    </div>

                    <!-- <div class="col-md-1">
                        <p class="instagram">
                            <a><img href="#!" src="images/instagram.svg"></a>
                    </div>
                    <div class="col-md-1">
                        <p class="email">
                            <a><img href="#!" src="images/email.svg"></a>
                    </div> -->
                </div>
            </div>
        </div>
        <!--End footer-->


        <!-- Load JS =============================-->
        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/jquery.scrollTo-min.js"></script>
        <script src="js/jquery.nav.js"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>