<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="">
        <meta name="description" content="">

        <title>VetZ</title>
        
        <!-- Loading Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Loading código CSS -->
        <link href="css/style.css" rel="stylesheet" media="screen and (color)">

        <!-- Awsome Fonts -->
        <link href="css/all.min.css" rel="stylesheet">

        <!-- Favicon -->
        <link href="images/logo_vetz_2.png" rel="shortcut icon">
    </head>

    <body>
        <!--Begin Header-->
        <header class="header">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <nav class="navbar navbar-expand-lg">
        
                        <a href="index.html" rel="home">
                            <img class="logomenu" src="images/logo_vetz.svg" alt="VET Z" title="VetZ">
                        </a>
                        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon">
                                <i class="fas fa-bars"></i>
                            </span>
                        </button>
        
                        <div class="navbar-collapse collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto 1  left-menu">
                    <li><a href="/projeto/vetz/homepage">HOME PAGE</a></li>
                    <li><a href="/projeto/vetz/sobre-nos">SOBRE NÓS</a></li>
                    <li><a href="/projeto/vetz/curiosidades">CURIOSIDADES</a></li>
                    <li><a href="/projeto/vetz/recomendacoes">RECOMENDAÇÕES</a></li>
                    <li><a href="/projeto/vetz/cadastrar-vacina">VACINAÇÃO</a></li>
                    <li> <a class="btn btn-menu" href="/projeto/vetz/cadastrarForm" role="button">
                    <img class="imgperfil" src="/projeto/vetz/views/images/perfil" alt="Perfil"> CADASTRO</a></li>
                </ul>
                        </div>
                    </nav>
                </div> 
            </nav>
        </header>
        <!--End Header-->


        <!-- --------------- CONTEÚDO DA PÁGINA ----------------->

        <!-- Begin Section 02 -->
        <section class="section02" id="sec02">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="sec02titleh1">Bem-vindos</h1>
                        <p class="sec02ph1">Quem somos nós?

                            Somos um grupo de estudantes do 3º ano do ensino médio, com foco em veterinária e zootecnia. Nosso projeto, "Vetz", busca explorar de forma inovadora a relação entre os animais, a saúde deles e a acessibilidade.
                            com foco em áreas como comportamento animal, controle de vacinação e práticas de cuidado, unindo conhecimento e sensibilidade para transformar a forma como lidamos com os nossos animais.
                            Nosso objetivo é contribuir para o bem-estar dos animais, de forma que possamos juntar o carinho e cuidado por eles no VetZ.</p>
                        <!-- <p class="sec02ph2">texto.</p> -->
                    </div>
                </section>
        <!-- End Section 02 --> 

        <!-- Begin Section 03 -->
        <section class="section03" id="sec03">
            <div class="container">
                <h2 class="sec03titleh2">Integrantes do Projeto</h2>

                <!-- Contêiner para a primeira linha -->
                <div class="grid-container-line1">
                    <div class="grid-item">
                        <img src="images/camilla_foto.png" class="card-img-top" alt="Camilla">
                        <p class="sec03phinte">CAMILLA GARCEZ</p>
                    </div>
                    <div class="grid-item">
                        <img src="images/marcela_foto.jpg" class="card-img-top" alt="Marcela">
                        <p class="sec03phinte">MARCELA SANCHES</p>
                    </div>
                    <div class="grid-item">
                        <img src="images/isa.jpg" class="card-img-top" alt="Isadora">
                        <p class="sec03phinte">ISADORA MOREIRA</p>
                    </div>
                </div>

                <!-- Contêiner para a segunda linha -->
                <div class="grid-container-line2">

                    <div class="grid-item-img1">
                        <img src="images/vitinho subistituto.jpg" class="card-img-top" alt="Victor">
                        <p class="sec03phinte">VICTOR M.</p>
                    </div>
                    <div class="grid-item-img2z">
                        <img src="images/guilherme subistituto.webp" class="card-img-top" alt="Guilherme">
                        <p class="sec03phinte">GUILHERME A.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Section 03  -->

        <!-- Begin footer-->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p class="footerp1">
                            Todos os direitos reservados <span id="footer-year"></span> © - VetZ </p>
                    </div>

                    <!-- <div class="col-md-1">
                        <p class="instagram">
                            <a><img href="#!" src="images/instagram.svg"></a>
                    </div>
                    <div class="col-md-1">
                        <p class="email">
                            <a><img href="#!" src="images/email.svg"></a>
                    </div> -->
                </div>
            </div>
        </div>
        <!--End footer-->


        <!-- Load JS =============================-->
        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/jquery.scrollTo-min.js"></script>
        <script src="js/jquery.nav.js"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>