<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="">
        <meta name="description" content="">

        <title>VetZ</title>
        
        <!-- Loading Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Loading código CSS -->
        <link href="css/style.css" rel="stylesheet" media="screen and (color)">

        <!-- Awsome Fonts -->
        <link href="css/all.min.css" rel="stylesheet">

        <!-- Favicon -->
        <link href="images/logo_vetz.svg" rel="shortcut icon">
    </head>

    <body>
        <!--Begin Header-->
        <header class="header">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <nav class="navbar navbar-expand-lg">
        
                        <a href="index.html" rel="home">
                            <img class="logomenu" src="images/logo_vetz.svg" alt="VET Z" title="VetZ">
                        </a>
                        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon">
                                <i class="fas fa-bars"></i>
                            </span>
                        </button>
        
                        <div class="navbar-collapse collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto 1  left-menu">
                    <li><a href="/projeto/vetz/homepage">HOME PAGE</a></li>
                    <li><a href="/projeto/vetz/sobre-nos">SOBRE NÓS</a></li>
                    <li><a href="/projeto/vetz/curiosidades">CURIOSIDADES</a></li>
                    <li><a href="/projeto/vetz/recomendacoes">RECOMENDAÇÕES</a></li>
                    <li><a href="/projeto/vetz/cadastrar-vacina">VACINAÇÃO</a></li>
                    <li> <a class="btn btn-menu" href="/projeto/vetz/cadastrarForm" role="button">
                    <img class="imgperfil" src="/projeto/vetz/views/images/perfil" alt="Perfil"> CADASTRO</a></li>
                </ul>
                        </div>
                    </nav>
                </div> 
            </nav>
        </header>
        <!--End Header-->


        <!-- --------------- CONTEÚDO DA PÁGINA ----------------->

        <!-- Begin section 14 -->
        <section class="section14" id="sec14">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <a class="animal-card-btn-no-bg" href="./perfil_pet.html">
                            <div class="animal-card-img">
                                <img src="./images/imgMane.png" alt="Mané">
                                <p class="sec14phinte">Mané (Luck)</p>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-8">
                        <div class="sec14titleh2">
                            <h2>Vacinas de Reforço Anual</h2>
                            <p class="sec14subtitle">Acompanhe as principais vacinas e registre as doses do seu pet</p>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="carteirinhavacina">
                            <table class="tablevacinacao">
                            <thead class="table-success">
                                <tr>
                                <th class="sec14th1">Vacinação</th>
                                <th class="sec14th1">A partir de 6 semanas</th>
                                <th class="sec14th1">9 semanas</th>
                                <th class="sec14th1">A partir de 12 semanas</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                <td class="sec14vacina">Polivalente V8 ou V10</td>
                                <td><button class="btn btn-outline-success" onclick="toggleCheck(this)">1ª DOSE</button></td>
                                <td><button class="btn btn-outline-success" onclick="toggleCheck(this)">2ª DOSE</button></td>
                                <td><button class="btn btn-outline-success" onclick="toggleCheck(this)">3ª DOSE</button></td>
                                </tr>
                                <tr>
                                <td class="sec14vacina">Gripe</td>
                                <td>—</td>
                                <td><button class="btn btn-outline-success" onclick="toggleCheck(this)">1ª DOSE</button></td>
                                <td><button class="btn btn-outline-success" onclick="toggleCheck(this)">2ª DOSE</button></td>
                                </tr>
                                <tr>
                                <td class="sec14vacina">Giárdia</td>
                                <td><button class="btn btn-outline-success" onclick="toggleCheck(this)">1ª DOSE</button></td>
                                <td><button class="btn btn-outline-success" onclick="toggleCheck(this)">2ª DOSE</button></td>
                                <td>—</td>
                                </tr>
                                <tr>
                                <td class="sec14vacina">Antirrábica</td>
                                <td>—</td>
                                <td>—</td>
                                <td><button class="btn btn-outline-success" onclick="toggleCheck(this)">1ª DOSE</button></td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                    </div>
                        
                    </div>     
                </div>
            </div>
        </section>
        <!-- End Section 14 -->

        <!-- Begin footer-->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p class="footerp1">
                            Todos os direitos reservados <span id="footer-year"></span> © - VetZ </p>
                    </div>

                    <!-- <div class="col-md-1">
                        <p class="instagram">
                            <a><img href="#!" src="images/instagram.svg"></a>
                    </div>
                    <div class="col-md-1">
                        <p class="email">
                            <a><img href="#!" src="images/email.svg"></a>
                    </div> -->
                </div>
            </div>
        </div>
        <!--End footer-->


        <!-- Load JS =============================-->
        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/jquery.scrollTo-min.js"></script>
        <script src="js/jquery.nav.js"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>